.authBlock{
  width: 100%;
  display: flex;
  flex-direction: column;
  column-gap: 1em;
  align-items: center;
}
.authSeparatorAfter{
  margin-bottom: 1.2em;
}
.authSeparatorBefore{
  margin-top: 1.2em;
}
.authSeparator{
  display: flex;
  align-items: center;
  justify-content: center;
}
.authBtnGroup{
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  width: 100%
}

.authBtn{
  width: 100%;
  margin: 0
}
