.authBlock{
  width: 100%;
  display: flex;
  flex-direction: column;
  column-gap: 1em;
  align-items: center;
}
.authSeparatorAfter{
  margin-bottom: 0.3em;
}
.authSeparatorBefore{
  margin-top: 0.3em;
}
.authSeparator{
  display: flex;
  align-items: center;
  justify-content: center;
}
.authBtnGroup{
  display: flex;
  flex-direction: column;
  gap: 0.9em;
  width: 100%
}

.authBtn{
  width: 100%;
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}
